$color-darkblue: #050C26;
$color-accent: #FF7426;
$color-main-violet: #4D2C5E;
$color-btn-accent: #FF7426;
$color-white: #fff;
$color-bg-accent: #FDF8EE;
$color-text-black: #1d1d1d;
$color-text-light: #8A8A8A;
$color-text-extralight: #c2c2c2;
$color-position-gray: #868686;
$color-footer-ifolink:#606060;
$color-premium:#8A8A8A;
$color-foot-title: #00052e;